* {
    padding: 0;
    margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	display: initial;
}
body {
	background-size: cover;
	background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
	url(../images/pexels-photo.jpeg);
	background-position: bottom;
}

button a, header a, div a{
	text-decoration: none;
}

#button-section{
	width: 100%;
	border: 1px solid red;
	display: flex;
	justify-content: center;
	align-content: center;
}
#button-section div {
	border-radius: 2px;
	background-color: lightblue;
	width: 250px;
	height: 30px;
	margin-right: 0;
	text
}

#form {
	color: white;
	margin: 0 auto;
}

header {
	color: white;
	background-size: cover;
	background-position: center;
	height: 100px;
	position: relative;
  
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }

header a {
	color: white;
}

header h1 {
	font-weight: normal;
	text-align: center;
	z-index: 1;
  }
  
  header h1 a {
	font-size: 15px;
  }
  
  header h1 em {
	font-size: 20px;
	letter-spacing: 1px;
  }
  
  header h1 strong {
	font-size: 68px;
	letter-spacing: 4px;
  }

header nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
  
	font-size: 14px;
	padding: 20px;
  
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.headtxt{
	font-family: /*"Tahoma", "Trebuchet MS", "Roboto Slab", */Roboto, sans-serif;
	font-weight: normal;
	font-size: 50px;
	text-align: center;
	color: lightgray;
}

.hidden {
	display: none;
}

#info {
	color: white;
}

#links {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#links a {
	margin: 15px;
}

#logo {
	font-size: 40px;
  }


.test {
	height: 60vw;
	width: 100vw;
}